@import "../../Styles/ColorVariable";

.footer {
  background-color: $PrimaryColor;
  color: white;
  height: 300px;

  a {
    color: white !important;
    text-decoration: none;
  }

  svg {
    font-size: 1.8em;
    margin-right: 10px;
  }

  ul li {
    list-style: none;
    margin-bottom: 10px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .footer {
    background-color: $PrimaryColor;
    color: white;
    height: 600px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    background-color: $PrimaryColor;
    color: white;
    height: 600px;
  }
}
